@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    background-color: white;
    font-family: 'Nunito', sans-serif;
    
}

.header{
    display: flex;
    justify-content: space-between;
    margin-right: 28px;
    
}

.logo{
    
    width: 192px;
    height: 33px;
    margin-top: 23px;
    margin-left: 60px;
    margin-right: 114px;
    

}
.menu{ 
    display: flex;
   
}

nav{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

nav ul {
    
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 48px;
}

nav ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: rgba(34, 34, 34, 0.75)
}

nav ul li a:hover{
    cursor: pointer;
    color: #DAA520;
    
}



.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #3E3F43;
    background-color: #F9BDBD;
    width: 137px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #3E3F43;
    border-radius: 8px;
    cursor: pointer;
    
    
    
}

.container{
    margin-top: 137px;
    margin-left: 100px;
}

.container h2{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}

.container h1{
    margin-bottom: 16px;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    line-height: 98px;
    color: #313235;
}

.btnEx{
    width: 175px;
    height: 50px;
    text-align: center;
    padding: 14px 24px;
    background: #DAA520;
    border-radius: 4px;
    cursor: pointer;
}

.table{
    position: absolute;
    width: 630px;
    height: 100%;
    z-index: -100;
    top: 0;
    right: 0;
}

.container h2 span{
    font-weight: bold;
}